.logo{
    height: 86%;
    width: 50%;
}
.navbar-nav{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8ede3;
  display: flex;
  flex-direction: column;
}
button.button_index {
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 8px;
  border: none;
  background-color: #f8ede3;
  height: 2rem;
  width: 7rem;
}
button:hover{
  background-color: #FACBEA;
}
.nav-item{
  display: inline;
  margin-right: 10px;
}
.center-card{
  display: flex; /* Utiliza flexbox para centrar el div interno */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  width: 100%; /* Asegura que el div externo ocupe todo el ancho disponible */
}
.card{
    height: 100%;
    width: 70%;
    margin-bottom: 2rem;
}
iframe{
    width: 100%;
    height: 100%;
}

.container{
  text-align: center;
  
}

.btn_edit{
  border-radius:4px;
  background-color: #f8ede3;
  border-style: none;
  height: 2.5em;
  width: 8rem;
  
}
.btn_edit:hover{
  background-color: #FACBEA;
}

.buttons{
	margin: 1rem;
	height: 4rem;
	
}
button{
  color: #804674;
  background-color: #f8ede3;
  border-style: none;
  border-radius: 18px;
  width: 2.5rem;
  height: 2rem;
  


}
.ulFooter{
    list-style: none;
}
.footer{
   
    color: white !important;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    height: 100%;
    background-color: #9707A3;
    
}
.ms-0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.anchoFooter{
    background-color: #9707A3 !important;
}
.button_index{
    position: fixed;
    
    right: 2rem;
    border-radius: 8px;
    border: none;
    background-color: #f8ede3;
    height: 3rem;
    width: 8rem;
}
a{
    text-decoration: none;
}