button{
    color: #804674;
    background-color: #f8ede3;
    border-style: none;
    border-radius: 3px;
    width: 70%;
    height: 70%;
    margin: 3rem;
}

button:hover{
    background-color: #FACBEA;
}

.container{
    text-align: center;
    
}


.ulFooter{
    list-style: none;
}
.footer{
   
    color: white !important;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    height: 100%;
   
    
    
}
.mb-0{
    margin-bottom: 0 !important;
}
.ms-0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.anchoFooter{
    background-color: #9707A3;
}